# Python cruft
*.pyc
*.pyo
__pycache__

# IDEs
.idea

# Mac cruft
.DS_Store

# Locale file is not editable
src/locale

# Unwanted Krtia files
*autosave.kra

*~
*.save
*.orig
*.orig.meta

# Unity excludes
GardenPlanet/Library
GardenPlanet/Temp
GardenPlanet/.vs
obj/

# Blender stuff
*.blend1

# builds
bin/

# Third party 
GardenPlanet/Assets/AmplifyShaderEditor/
GardenPlanet/Assets/AmplifyShaderEditor.meta
GardenPlanet/Assets/Editor/PanicButton*

