# Python cruft
*.pyc
*.pyo
__pycache__

# IDEs
.idea

# Mac cruft
.DS_Store

# Locale file is not editable
src/locale

# Unwanted Krtia files
*autosave.kra

*~
*.save
*.orig
*.orig.meta

# Unity excludes
StrawberrySupernova/Library
StrawberrySupernova/Temp
StrawberrySupernova/.vs
obj/

# builds
bin/

# Third party 
StrawberrySupernova/Assets/AmplifyShaderEditor/
StrawberrySupernova/Assets/AmplifyShaderEditor.meta
